<div class="todo-item">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">{{todoItem.title}}</h6>
            <small class="text-muted">{{todoItem.description}}</small>
            <div *ngIf="todoItem.dueDate"><small>Due date: <b>{{todoItem.dueDate}}</b></small></div>
        </div>
        <button (click)="deleteClick()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
  </div>