<div class="mx-auto col-10">
  <h5>Add TODO</h5>
  <hr>

  <div *ngIf="isSubmitted && form.invalid" class="alert alert-danger" role="alert">
    Invalid form
  </div>
  <form [formGroup]="form" (submit)="save(form)">
    <div class="form-group">
      <label for="todo-title">Title</label>
      <input type="text" formControlName="title" name="todo-title" class="form-control" id="todo-title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="todo-description">Description</label>
      <input type="text" formControlName="description" name="todo-description" class="form-control" id="todo-description" placeholder="Enter description">
    </div>
    <div class="form-group">
      <label for="todo-due-date">Due date</label>
      <input type="text" name="todo-due-date" formControlName="dueDate" class="form-control" id="todo-due-date" placeholder="Enter due date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>